<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
    <style type="text/css">
        #topnav{
            background-color: #E0EEE0;
        }
        
        #detailnote{
            height: 300px;
        }
        #sidemenu{
            height: 400px;
        }
        #username{
            font-size: 20px;
        }
        h1, #footertext{
            font-family: Tahoma;
            font-style: italic;
            color: blue;
        }
        .menuname{
            font-size: 18px;
        }
        .btn-group{
            height: 90%;
            max-height: 400px;
        }

        
    </style>
    
</head>

<body>
    <div class="wrapper">
        <div class="content">
            <ul class="nav nav-pills" id="topnav">
                {%if not user.is_authenticated %}
                    <li><a href="../../"><p class="menuname">Home</p></a></li>
                    <li><a href="../login/"><p class="menuname">Login</p></a></li>
                    <li><a href="../regist/"><p class="menuname">Registration</p></a></li>                
                {% else %}
                    <li><a href="../../../../note/"><p class="menuname">Home</p></a></li>
                    <li><h4><p class="menuname" id="username">{{ user.username }}</p></h4></li>
                    <li><a href="../../../logout/"><p class="menuname">Exit</p></a></li>
                {% endif %} 
            </ul>
            <center><h1>Welcome
                {%if user.is_authenticated %}
                    , {{ user.username }}
                {% endif %}
            !</h1></center>
            
                {% block content %}{% endblock %}
        </div>
        <div class="footer col-xs-12">
            <hr>
            <center><p id="footertext">Thank you for visit my site!</p></center>
        </div>
    </div>
</body>
</html>