{% extends 'notes/base.html' %}

{% block title %}Delete{% endblock %}
 
{% block content %}

<div>
    <hr>
    <form method="POST" action='' enctype="multipart/form-data">
        {% csrf_token %}
        <center><p>Delete note?</p></center><br>
        <div>
        	<center><input type="submit" class='btn btn-primary' value="Delete" /><a href="../../../../note/"><button type="button" class="btn btn-default">Back</button></a></center>
        </div>
    </div>
    </form>          

</div>
{% endblock %}