{% extends "notes/base.html" %}

{% block title %}Hello!{% endblock %}

{% block content %}
<div class="jumbotron">
  <center><h3>Please, login or register:</h3>
  <div>
     <a href="../login/" class="btn btn-primary btn-lg" role="button">Login</a>
     <a href="../regist/" class="btn btn-primary btn-lg" role="button">Registration</a>
  </div></center>
</div>
{% endblock %}