{% extends 'notes/base.html' %}

{% block title %}New label{% endblock %}
 
{% block content %}
<div>
    <hr>
    <form method="POST" action={% url 'new_label' %} enctype="multipart/form-data">
            {% csrf_token %}
    <div class="form-group col-md-6 col-md-offset-3">
        {{ form }}
        <hr>
        <input type="submit" class='btn btn-primary' value="Save" />
        <a href="../../../../note/"><button type="button" class="btn btn-default">Back</button></a></center>
    </form>          
</div>
{% endblock %}