{% extends 'notes/base.html' %}

{% block title %}New note{% endblock %}
 
{% block content %}

<div>
    <hr>
    <form  method="POST" action={% url 'new_note' %} enctype="multipart/form-data">
            {% csrf_token %}
        <center>
        <div class="form-group col-md-6 col-md-offset-3">
            <label for="note_title" >Title: </label> 
            {{ form.note_title }}
        </div>

        <div class="form-group col-md-6 col-md-offset-3">
            <label for="note_content">Content: </label> 
            {{ form.note_content }}
        </div>

        <div class="form-group col-md-6 col-md-offset-3">
            <label for="Color">Color: </label> {{ form.color}}
        </div>

        <div class="form-group col-md-6 col-md-offset-3">
            <label for="note_category">Category: </label>
            {{ form.note_category }}
        </div>

        <div class="form-group col-md-6 col-md-offset-3">
            <label for="note_label">Label: </label> 
            {{ form.note_label }}
        </div>

        <div class="form-group col-md-6 col-md-offset-3">
            <label for="User">User: </label>
            {{ form.user }}
        </div> 

        <div class="form-group col-md-6 col-md-offset-3">
            <hr>
            <center><input type="submit" class='btn btn-primary' value="Save"/>
            <a href="../../../../note/"><button type="button" class="btn btn-default">Back</button></a></center>
        </div>
        </center>

    </form>
</div>
{% endblock %}