{% extends 'notes/base.html' %}

{% block title %}New category{% endblock %}
 
{% block content %}

<div>
    <hr>
    <form method="POST" action={% url 'new_category' %} enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group col-xs-6 col-md-offset-4">
        {{ form }}
        <hr>
        <input type="submit" class='btn btn-primary' value="Save"/>
        <a href="../../../../note/"><button type="button" class="btn btn-default">Back</button></a></center>
    	</div>
      
    </form>          

</div>
{% endblock %}