{% extends 'notes/base.html' %}

{% block title %}New color{% endblock %}
 
{% block content %}

<div>
    <hr>
    <form method="POST" action={% url 'new_color' %} enctype="multipart/form-data">
            {% csrf_token %}
    <div class="form-group col-xs-2 col-md-offset-5">
        {{ form }}
        <hr>
        <input type="submit" class='btn btn-primary' value="Save" />
        <a href="../../../../note/"><button type="button" class="btn btn-default">Back</button></a></center>
    </div>
    </form>          
</div>
{% endblock %}