{% extends "notes/base.html" %}

{% block title %}Detail{% endblock %}

{% block content %}
    <div class="panel panel-default col-xs-12">
            <div id="sidemenu" class="btn-group col-xs-2">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="../../../new_note/">Add new note</a></li>
                    <li><a href="../../new_category/">Add new category</a></li>
                    <li><a href="../../new_label/">Add new label</a></li>
                    <li><a href="../new_color/">Add new color</a></li>
                </ul>
            </div>
            
        <div class="panel-body col-xs-6 col-xs-offset-1">
            <form class='content' method='post' action='' role="form">{% csrf_token %}    
                <div id="detailnote" class="form-group col-xs-6 col-xs-offset-3" style="background:{{notes.color}}">
                    <label for="note_title"> Title:</label>
                    <textarea class="form-control" id="id_text" name="note_title" rows=1 width="50px" >{{ notes.note_title }}</textarea>
                    <label for="note_content" >Content:</label> 
                    <textarea class="form-control" id="id_text" name="note_content" rows=4  width="50px" >{{ notes.note_content }}</textarea>
                    <label for="color">Color:</label> 
                    <textarea class="form-control" id="id_text" name="color" rows=1  width="50px" >{{ notes.color }}</textarea>
                </div>
                <div class="form-group col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-success" value="Save">Save</button>
                <a href="del_note/"><button type="button" class="btn btn-primary">Delete</button></a>
                </div>
            </form>
        </div>
    </div>


{% endblock %}