{% extends "notes/base.html" %}

{% block title %}List notes{% endblock %}

{% block content %}
<div class="panel panel-default col-xs-12">
            <div id="sidemenu" class="btn-group col-xs-2">
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="../../../new_note/">Add new note</a></li>
                    <li><a href="../../new_category/">Add new category</a></li>
                    <li><a href="../../new_label/">Add new label</a></li>
                    <li><a href="../new_color/">Add new color</a></li>
                </ul>
            </div>
            
        <div class="panel-body col-xs-4 col-xs-offset-2">
        <table class="table table-striped">
        <tr><th>Title</th><th>Publication date</th></tr>
            {% for i in note_list %}
                <tr><td><a href="{% url 'notes_id_list' i.pk %}">{{ i.note_title }}</a></td><td>{{ i.note_pub_date }}</td></tr>
            {% endfor %}
        </table>  
  </div>
</div>
{% endblock %}
