{% extends "notes/base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}

<div class="form-group col-xs-8 col-xs-offset-3">
    
    <form action='' method='post'>{% csrf_token %}
    	{{form.as_p}}
        <button type="submit" class="btn btn-primary btn-lg active" value="Send"> Send</button>
    </form>
</div> 

{% endblock %}